@font-face {
	font-family: europecondensedc;
	font-display: swap;
	src: url("../fonts/europecondensedc.woff2") format("woff2"), url("../fonts/europecondensedc.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Compo Bold;
	font-display: swap;
	src: url("../fonts/Compo Bold.woff2") format("woff2"), url("../fonts/Compo Bold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
