// Заголовки, загальні БЕМ блоки та інше...

//====================================================================================================
.about {
   @include adaptiveValue("padding-top", 174, 55);
   @include adaptiveValue("padding-bottom", 164, 84);

   background-image: url('../img/common/about_bg.svg'), linear-gradient(180deg, #0B0245 33.12%, #090D55 100%);
   background-repeat: no-repeat;
   background-size: cover;


   // .about__container

   &__container {
      display: flex;
      flex-wrap: wrap;
   }

   // .about__desc

   &__desc {
      flex: 1 1 50%;
      padding-right: 16px;
     @media (max-width:$mobile){
         flex-basis: 100%; 
         margin-bottom: 6px;
     }
   }

   // .about__title

   // &__title {
   // }

   // .about__text

   &__text {
      padding-right: rem(80);
      @media (max-width:$mobile){
           font-size: rem(16);
           padding-right: rem(60);
      }

      p {
         @include adaptiveValue("margin-bottom", 32, 20, 0, 1130, 768);
      }
   }

   // .about__content

   &__content {
      position: relative;
      flex: 1 1 50%;
      @media (max-width:$mobile){
          flex-basis: 100%; 
      }
   }

   &__player {
      position: relative;
   }

   // .about__video

   // &__video {
   // }

   &__img {
      position: absolute;
      right: 3%;
      bottom: -29%;

      @media (max-width: 530px){
         width: 107px;
         height: 101px;
         right: 2%;
         bottom: -24%;
      }
   }
}
.section-title {
   font-family: 'Compo v2';
   font-weight: 700;
   font-size: rem(55);
   line-height: 97.02%;
   @include adaptiveValue("margin-bottom", 42, 26, 0, 1130, 768);

   @media (max-width:$mobile){
      font-size: rem(28); 
   }
}

.video {
   border-radius: 8px;
   // .video__btn-wrp

   &__btn-wrp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
         content: '';
         position: absolute;
         width: 72px;
         height: 72px;
         border-radius: 50%;
         background: rgba(137, 255, 0, 0.61);
         z-index: 9;
         animation: waveDivergence 5s linear infinite;

         @media (max-width:$mobile){
            width: 42px;
            height: 42px;
         }
      }

      &::after {
         content: '';
         position: absolute;
         width: 96px;
         height: 96px;
         border-radius: 50%;
         background: rgba(255, 255, 255, 0.24);
         z-index: 8;
         animation: waveDivergence 5s linear infinite;

         @media (max-width:$mobile){
            width: 56px;
            height: 56px;
         }
      }



   }

   // .video__btn

   &__btn {
      width: 38px;
      height: 38px;
      display: inline-block;
      background: url('../img/common/play.png') center center no-repeat;
      background-size: contain;
      position: relative;
      z-index: 11;

      @media (max-width:$mobile){
         width: 22px;
         height: 22px; 
      }
   }
}


@keyframes waveDivergence {
   0% {
      opacity: 1;
      transform: scale(0.4);
   }

   90% {
      opacity: 0.8;
      transform: scale(1);
   }

   100% {
      opacity: 0;
   }
}

//====================================================================================================


//Main====================================================================================================
.main {

   // .main__fullscreen

   &__fullscreen {
      @include adaptiveValue("padding-top", 206, 122);
   }

   // .main__videoBackground

   &__videoBackground {
   }

   // .main__container

   &__container {
      text-align: center;
   }

   // .main__heading

   &__heading {
      max-width: 662px;
      font-family: 'Compov2Bold';
      font-weight: 700;
      line-height: 86.52%;
      @include adaptiveValue("font-size", 64, 32);
      margin: 0 auto;
      margin-bottom: 20px;
   }

   // .main__slogan

   &__slogan {
      max-width: 662px;
      margin: 0 auto;
      @include adaptiveValue("font-size", 20, 14);
      line-height: 109.02%;
   }

   // .main__actions

   &__actions {
      position: absolute;
      left: 50%;
      bottom: 209px;
      // @include adaptiveValue("bottom", 209, 359);
      transform: translateX(-50%);

      @media (max-width:$mobile){
          bottom: 50%; 
      }
   }

   // .main__button

   &__button {
   }
}
.fullscreen {
   min-height: 100vh;

   @extend  %videoBackground;
}
.video-bg {
}

.component-next {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;

   &::before {
      content: '';
      position: absolute;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      background: rgba(137, 255, 0, 0.26);
      z-index: 9;
      animation: waveDivergence 5s linear infinite;

      // @media (max-width:$mobile){
      //    width: 42px;
      //    height: 42px;
      // }
   }

   &::after {
      content: '';
      position: absolute;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.26);
      z-index: 8;
      animation: waveDivergence 5s linear infinite;

      // @media (max-width:$mobile){
      //    width: 56px;
      //    height: 56px;
      // }
   }

   &__btn {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background: url('../img/common/scroll_to.png') center center no-repeat;
      background-size: contain;
      position: relative;
      z-index: 11;
   }
}
//====================================================================================================


//Marquee====================================================================================================

$blockHeight: 124px;

.b-marquee-line {

  &__flow {
     background: $blueColor;
     font-size: 0;
     line-height: 0;
     height: $blockHeight;
     overflow: hidden;
     position: relative;
     width: 100%;

   //   @media (max-width:$mobile){
   //       height: 55px;
   //   }
   

     &-in {

        display: block;
        height: $blockHeight;
        background: rgba(255, 255, 255, 0.12);
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(255, 255, 255, 0.9);
        padding: 30px 0;

         @media (max-width:$mobile){
            padding: 14px 0;
            height: 55px;
         }

        .cssanimations & {
           width: 200%;
           position: absolute;
           overflow: hidden;
           animation: marquee 10s linear infinite;
        }

     }

     &-block {
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 40, 18, 0, 1130, 768);
      white-space: nowrap;

        .no-cssanimations &:last-child {
           display: none;
        }

        .cssanimations & {
           white-space: nowrap;
           float: left;
           width: 50%;
        }
     }

     &-item {
         @media (max-width:$mobile){
            height: 18px; 
         }
     }

     &-item_big {
      @media (max-width:$mobile){
         height: 24px; 
      }
    }
  }
}

@media (max-width: 1060px){
    .clone > .b-marquee-line__flow-item:first-child {
       opacity: 0;
     } 
}

@media (max-width: 890px){
   .clone > .b-marquee-line__flow-item:nth-child(2) {
      opacity: 0;
    } 
}

@media (max-width:$mobile){
   .clone > .b-marquee-line__flow-item:first-child {
      opacity: 1;
   } 

   .clone > .b-marquee-line__flow-item:nth-child(2) {
      opacity: 1;
   } 
}

@media (max-width: 508px){
   .clone > .b-marquee-line__flow-item:first-child {
      opacity: 0;
    } 
}

@media (max-width: 431px){
   .clone > .b-marquee-line__flow-item:nth-child(2) {
      opacity: 0;
    } 
}

@keyframes marquee {
  0% {
     left: 0;
  }
  100% {
     left: -100%;
  }
}

//====================================================================================================