// Заголовки, загальні БЕМ блоки та інше...

//Scroll bar====================================================================================================

/* Для WebKit-браузеров (Chrome, Safari, Opera) */
::-webkit-scrollbar {
   width: 8px;
 }
 
 ::-webkit-scrollbar-track {
   background: #0B0245;
   border-radius: 4px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #3a926591;
   border-radius: 4px;
;
 }
 
 /* Для Firefox */
 ::-moz-scrollbar {
   width: 8px;
 }
 
 ::-moz-scrollbar-track {
   background: #0B0245;
   border-radius: 4px;
 }
 
 ::-moz-scrollbar-thumb {
   background: #3a926591;
   border-radius: 4px;
;
 }
 
 /* Для Internet Explorer и Edge */
 ::-ms-scrollbar {
   width: 8px;
 }
 
 ::-ms-scrollbar-track {
   background: #0B0245;
   border-radius: 4px;
 }
 
 ::-ms-scrollbar-thumb {
   background: #3a926591;
   border-radius: 4px;
;
 }
 

 //====================================================================================================
 
//====================================================================================================
.about {
   @include adaptiveValue("padding-top", 174, 55);
   @include adaptiveValue("padding-bottom", 164, 84);

   background-image: url('../img/common/about_bg.svg'), linear-gradient(180deg, #0B0245 33.12%, #090D55 100%);
   background-repeat: no-repeat;
   background-size: cover;


   // .about__container

   &__container {
      display: flex;
      flex-wrap: wrap;
   }

   // .about__desc

   &__desc {
      flex: 1 1 50%;
      padding-right: 16px;
     @media (max-width:$mobile){
         flex-basis: 100%; 
         margin-bottom: 6px;
     }
   }

   // .about__title

   // &__title {
   // }

   // .about__text

   &__text {
      padding-right: rem(80);
      @media (max-width:$mobile){
           font-size: rem(16);
           padding-right: rem(60);
      }

      p {
         @include adaptiveValue("margin-bottom", 32, 20, 0, 1130, 768);
      }
   }

   // .about__content

   &__content {
      position: relative;
      flex: 1 1 50%;
      @media (max-width:$mobile){
          flex-basis: 100%; 
      }
   }

   &__player {
      position: relative;
   }

   // .about__video

   // &__video {
   // }

   &__img {
      position: absolute;
      right: 3%;
      bottom: -29%;

      @media (max-width: 530px){
         width: 107px;
         height: 101px;
         right: 2%;
         bottom: -24%;
      }
   }
}

.section-title {
   font-family: 'Compov2Bold';
   font-weight: 700;
   @include adaptiveValue("font-size", 55, 28);
   line-height: 97.02%;
   @include adaptiveValue("margin-bottom", 42, 26, 0, 1130, 768);

   @media (max-width:$mobile){
       text-align: center; 
   }
}

.text-block {
   @include adaptiveValue("font-size", 24, 16);

   p {
      @include adaptiveValue("margin-bottom", 30, 20, 0, 1130, 768);
   }
}

.sub-title {
   color: #89FF00;
   @include adaptiveValue("font-size", 24, 16);
   margin-bottom: 12px;

   @media (max-width:$mobile){
      text-align: center; 
      margin-bottom: 8px;
   }
}

.da-block {
   @media (max-width:$mobile){
       padding: 0 15px; 
   }
}

.video {
   border-radius: 8px;
   // .video__btn-wrp

   &__btn-wrp {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
         content: '';
         position: absolute;
         width: 72px;
         height: 72px;
         border-radius: 50%;
         background: rgba(137, 255, 0, 0.61);
         z-index: 9;
         animation: waveDivergence 5s linear infinite;

         @media (max-width:$mobile){
            width: 42px;
            height: 42px;
         }
      }

      &::after {
         content: '';
         position: absolute;
         width: 96px;
         height: 96px;
         border-radius: 50%;
         background: rgba(255, 255, 255, 0.24);
         z-index: 8;
         animation: waveDivergence 5s linear infinite;

         @media (max-width:$mobile){
            width: 56px;
            height: 56px;
         }
      }



   }

   // .video__btn

   &__btn {
      width: 38px;
      height: 38px;
      display: inline-block;
      background: url('../img/common/play.svg') center center no-repeat;
      background-size: contain;
      position: relative;
      z-index: 11;

      @media (max-width:$mobile){
         width: 22px;
         height: 22px; 
      }
   }
}


@keyframes waveDivergence {
   0% {
      opacity: 1;
      transform: scale(0.4);
   }

   90% {
      opacity: 0.8;
      transform: scale(1);
   }

   100% {
      opacity: 0;
   }
}

//====================================================================================================


//Main====================================================================================================
.main {
   min-height: 100vh;
   overflow-x: hidden;
   // .main__fullscreen

   &__fullscreen {
      @include adaptiveValue("padding-top", 206, 122);
   }

   // .main__videoBackground

   &__videoBackground {
   }

   // .main__container

   &__container {
      text-align: center;
   }

   // .main__heading

   &__heading {
      max-width: 662px;
      font-family: 'Compov2Bold';
      font-weight: 700;
      line-height: 86.52%;
      @include adaptiveValue("font-size", 64, 32);
      margin: 0 auto;
      margin-bottom: 20px;
   }

   // .main__slogan

   &__slogan {
      max-width: 662px;
      margin: 0 auto;
      @include adaptiveValue("font-size", 20, 14);
      line-height: 109.02%;
   }

   // .main__actions

   &__actions {
      @include adaptiveValue("margin-top", 42, 54, 0, 1130, 756);
   }

   // .main__button

   &__button {
   }
}
.fullscreen {
   min-height: 100vh;

   @extend  %videoBackground;
}
.video-bg {
}

.component-next {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;

   &::before {
      content: '';
      position: absolute;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      background: rgba(137, 255, 0, 0.26);
      z-index: 9;
      animation: waveDivergence 5s linear infinite;

      // @media (max-width:$mobile){
      //    width: 42px;
      //    height: 42px;
      // }
   }

   &::after {
      content: '';
      position: absolute;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.26);
      z-index: 8;
      animation: waveDivergence 5s linear infinite;

      // @media (max-width:$mobile){
      //    width: 56px;
      //    height: 56px;
      // }
   }

   &__btn {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background: url('../img/common/scroll_to.png') center center no-repeat;
      background-size: contain;
      position: relative;
      z-index: 11;
   }
}
//====================================================================================================


//Marquee====================================================================================================

$blockHeight: 124px;

.wrapp{
   width: 100%;
   overflow: hidden;
   background: $blueColor;
}

.marquee-wrapper {
   position: relative;
   height: $blockHeight;
   background: rgba(255, 255, 255, 0.12);
   border-top: 2px solid rgba(255, 255, 255, 0.3);
   border-bottom: 2px solid rgba(255, 255, 255, 0.9);

   @media (max-width:$mobile){
       height: 55px; 
   }
 }
 
 :root {
   --marquee-elements-displayed: 4;
   --marquee-element-width: calc(100vw / var(--marquee-elements-displayed));
   --marquee-animation-duration: calc(var(--marquee-elements) * 3s);

   @media (max-width:$mobileSmall){
      --marquee-elements-displayed: 2; 
    }
 }

 

 .marquee-content {
   width: 100vw;
   position: absolute;
   left: 0;
   top: 34px;
   display: flex;

   @media (max-width:$mobile){
       top: 16px;
   }




   -webkit-animation: scrolling var(--marquee-animation-duration) linear infinite;
   animation: scrolling var(--marquee-animation-duration) linear infinite;
 }

 @-webkit-keyframes scrolling {
   0% {
     -webkit-transform: translateX(0);
             transform: translateX(0);
   }
 
   100% {
     -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
             transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
   }
 }
 
 @keyframes scrolling {
   0% {
     -webkit-transform: translateX(0);
             transform: translateX(0);
   }
 
   100% {
     -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
             transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
   }
 }

 .marquee-content li {
   display: flex;
   justify-content: center;
   flex: 0 0 var(--marquee-element-width);
   padding: 0px 10px;
 }

 .marquee-content li .marquee-item {
   display: flex;
   align-items: center;

   @media (max-width:$mobile){
      height: 18px; 
   }
 }

 .marquee-content li .marquee-item_small {
   @media (max-width:$mobile){
       padding-top: 5px; 
   }
 }

 .marquee-content li .marquee-item_small img {
   @media (max-width:$mobile){
      height: 18px; 
   }
 }

 .marquee-content li .marquee-item_big{
   @media (max-width:$mobile){
      height: 24px; 
   }
 }

 .marquee-item img{
   width: 100%;
   height: auto;
 }

 @media (max-width:$mobile){
   .marquee-item_visa {
      height: 20px;  
      padding-top: 3px;
   }
    .marquee-item_visa img {
      height: 20px;
    } 
 }
 
//====================================================================================================


//====================================================================================================


//Why-us ====================================================================================================
.why-us {
      background: #0B0245;
      @include adaptiveValue("padding-top", 202, 80, 0, 1130, 568);
      padding-bottom: 174px;

      @media (max-width:$mobile){
         padding-bottom: 150px;
      }
   // .why-us__container

   &__container {
      display: flex;
      background: #0B0245;

      @media (max-width:$mobile){
          flex-wrap: wrap; 
      }

   }

   // .why-us__gif

   &__gif {
      flex: 1 1 50%;

      @media (max-width:$mobile){
         flex: 1 1 100%;  
         margin-bottom: 30px;
      }
   }

   &__animation {
      width: 100%;
      height: auto;
   }

   &__block {
      @media (max-width:$mobile){
          padding: 0 15px; 
      }
   }

   // .why-us__text-block

   &__text-block {
      flex: 1 1 50%;

      @media (max-width:$mobile){
         flex: 1 1 100%;  
      }
   }

   // .why-us__sub-title

   &__sub-title {
      color: #89FF00;
      @include adaptiveValue("font-size", 24, 16);
      line-height: 109.02%;
      margin-bottom: 11px;

      @media (max-width:$mobile){
         margin-bottom: 8px;
         text-align: center;
      }
   }

   // .why-us__title

   &__title {

   }

   // .why-us__text

   &__text {
      max-height: 320px;
      overflow: hidden;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 20%;
         background: linear-gradient(180deg, rgba(12, 3, 69, 0) 0%, #0C0346 51.87%);
      }

      p {
         @include adaptiveValue("margin-bottom", 46, 18, 0, 1130, 768);
      }
   }

    &__text._show-text {
      max-height: unset;
      overflow: auto;
   }

   

   // .why-us__btn

   &__btn {
   }
}

._show-text.why-us__text::before{
   display: none;
}

.btn {
   padding: 10px 27px;
	border-radius: 39px;
   font-size: 18px;
   line-height: 97.02%;
   text-align: center;
   border-width: 1px;
   border-style: solid;
   transition: all 0.3s ease;
   background: linear-gradient(rgb(62,60,113), rgb(62,60,113)) padding-box,
              linear-gradient(rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 1)) border-box;
	border: 1px solid transparent;

   @media (any-hover: hover){
      &:hover{
         transform: scale(1.1);
      }
   }

   @media (max-width:$mobile){
       margin-top: 32px; 
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
}

//====================================================================================================

.spot {
   max-width: 600px;
   transition: all 0.6s ease;
   position: absolute;

   &__img {
      width: 100%;
      height: auto;
   }
}

.right {
   transform: translateX(50%);

}

.left {
   transform: translateX(20%);
}

.big-spot {
   position: absolute;
   @media (max-width:$mobile){
      max-width: 700px;
      overflow-x: hidden;
   }

   &__img {
     @media (max-width:$mobile){
         width: 773px;
         height: 385px; 
     }
   }
}


//====================================================================================================
.video-bg {

   width: 100%;
   min-height: 100vh;
   position: relative;

   &__video {
      position: absolute;
      top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
   }
}
//====================================================================================================