//====================================================================================================
.advantages {
   background: $blueColor;
   padding-top: 20px;
   padding-bottom: 156px;

   // .advantages__container

   &__container {
   }

   // .advantages__block

   &__block {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
   }

   // .advantages__item

   &__item {
      text-align: center;
      display: flex;
      flex-direction: column;
   }


   &__case {
      margin-bottom: 13px;
      min-height: 104px;

      @media (max-width: 449px){
         min-height: unset;
      }

   }

   &__img {

   }

   // .advantages__desc

   &__desc {
      max-width: 184px;
      margin-left: auto;
      margin-right: auto;
      @include adaptiveValue("font-size", 24, 16);
   }
}

//====================================================================================================
