//Philosophy====================================================================================================
.philosophy {
   background: $blueColor;
   @include adaptiveValue("padding-top", 104, 76, 0, 1130, 768);
   padding-bottom: 64px;

   &__container {
      display: flex;

      @media (max-width:$mobile){
          flex-wrap: wrap-reverse; 
      }
   }

   // .philosophy__text-block

   &__text-block {
      padding-top: 120px;
   }

   &__text-block,
   &__animation-block {
      flex: 1 1 50%;

      @media (max-width:$mobile){
          flex-basis: 100%; 
      }

   }

   // .philosophy__sub-title

   &__sub-title {
   }

   // .philosophy__title

   &__title {
   }

   // .philosophy__text

   &__text {
   }

   // .philosophy__gif

   &__gif {
      width: 100%;
      height: auto;
      background: url('../img/home/philosophy/bg.png')  bottom center no-repeat;
      background-size: contain;
   }
}

//====================================================================================================


//Advantages====================================================================================================
.advantages {
   background: $blueColor;
   padding-top: 20px;
   padding-bottom: 156px;

   // .advantages__container

   &__container {
   }

   // .advantages__block

   &__block {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
   }

   // .advantages__item

   &__item {
      text-align: center;
      display: flex;
      flex-direction: column;
   }


   &__case {
      margin-bottom: 13px;
      min-height: 104px;

      @media (max-width: 449px){
         min-height: unset;
      }

   }

   &__img {

   }

   // .advantages__desc

   &__desc {
      max-width: 184px;
      margin-left: auto;
      margin-right: auto;
      @include adaptiveValue("font-size", 24, 16);
   }
}

//Program====================================================================================================

.program {
   text-align: center;
   background: $blueColor;

   padding-bottom: 140px;

   &__canvas {
      max-width: 1366px;
      margin: 0 auto;
   }

   &__bg-image {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
   }

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 10;
      margin-top: -60%;
   }

   // .program__title

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 55, 28);
      line-height: 97.02%;
      margin-bottom: 42px;

      @media (max-width:$mobile){
         margin-bottom: 50px;  
      }
   }

   // .program__desc

   &__desc {
      @include adaptiveValue("font-size", 24, 16);
      line-height: 109.02%;
      margin-bottom: 58px;
      max-width: 553px;

      @media (max-width:$mobile){
         order: 11;
         margin-bottom: 0; 
         text-align: left;
     }
   }

   // .program__scheme

   &__scheme {
      @media (max-width:$mobile){
          margin-bottom: 46px;
      }
   }

   // .program__img

   &__img {
      width: 100%;
      height: auto;
   }
}

//====================================================================================================
