//License====================================================================================================
.license {
   padding-top: 168px;
   padding-bottom: 190px;

   @media (max-width:$mobile){
      padding-top: 128px;
      padding-bottom: 150px;
   }
   // .license__container

   &__container {
   }

   // .license__title

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 55, 28);
      line-height: 97.02%;
      @include adaptiveValue("margin-bottom", 60, 32, 0, 1130, 768);

      @media (max-width:$mobile){
          text-align: center; 
      }
   }

   // .license__cards

   &__cards {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   }

   // .license__item

   &__item {
   }


   &__image {
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100%;
         background: rgba(0,0,0,0.5);
         opacity: 0;
         transition: opacity 0.5s ease;
      }


      &.zoomed {
         img {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            max-width: 90%;
            max-height: 90%;
          }
      }


      img {
         width: 100%;
         height: auto;
         transition: all 0.4s ease 0s;
      }

      margin-bottom: 30px;
   }

   // &__image

   &__name {
      @include adaptiveValue("font-size", 24, 16);
   }
}

//====================================================================================================
