//Main-tools====================================================================================================
.main-tools {
   @include adaptiveValue("padding-top", 230, 122, 0, 1130, 768);
   // .main-tools__container

   &__container {
      @media (max-width:$mobile){
          text-align: center; 
      }
   }

   // .main-tools__header

   &__header {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 64, 32);
      line-height: 86.52%;
      max-width: 561px;
      margin-bottom: 22px;

      @media (max-width:$mobile){
         max-width: 220px;
         margin-right: auto;
         margin-left: auto;
      }
   }

   // .main-tools__text

   &__text {
      max-width: 271px;
      margin-bottom: 68px;

      @media (max-width:$mobile){
         margin-bottom: 28px;
         margin-right: auto;
         margin-left: auto;
      }

      p {
         margin-bottom: 20px;
      }
   }

   // .main-tools__actions

   &__actions {
      margin: 0 auto;
   }

   // .main-tools__button

   &__button {
      background: url(../img/common/scroll_to.png) center center no-repeat;
      background-size: contain;
   }
}

//====================================================================================================


//Structure====================================================================================================

.structure {
   min-height: 100vh;
   position: relative;
   padding-top: 160px;
   background-image:  url(../img/tools/structure_bg.svg), linear-gradient(180deg, #0B0245 33.12%, #090D55 100%);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;

   // .structure__container

   &__container {
      overflow: hidden;
      position: relative;

      @media (max-width: 560px){
           height: 640px;
           min-height: unset;
      }
   }

   // .structure__blind

   &__blind {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background: linear-gradient(90deg, #0B0245 30%, rgba(11, 2, 69, 0) 100%);
      z-index: 2;

      @media (max-width: 560px){
          right: 0; 
          width: 100%;
          top: unset;
          height: 60%;
          background: linear-gradient(1deg, #0E0548 30%, rgba(11, 2, 69, 0) 100%);
      }
   }

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 55, 28);
      line-height: 97.02%;
      text-align: center;
      margin-bottom: 85px;
   }

   // .structure__slider

   &__slider {
      display: flex;
      gap: 60px;

      @media (max-width: 560px){
           flex-direction: column;
           align-items: center;
      }
   }

   // .structure__slide

   &__slide {
      flex-shrink: 0;
      background: rgba(58, 146, 101, 0.52);
      border-radius: 8px;
      border: 2px solid #89FF00;
      padding: 37px
   }
}



.property {
   min-width: rem(282);

   @media (max-width: 560px){
      width: rem(212);
 }

   &__header {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 16px;
   }

   // .slide__img

   &__img {
      
   }

   // .slide__title

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      font-size: 40px;
      @include adaptiveValue("font-size", 40, 30);
      line-height: 97.02%;
   }

   // .slide__list

   &__list {
   }

   // .slide__list-item

   &__list-item {
      @include adaptiveValue("font-size", 24, 18);
      line-height: 109.02%;
      list-style: inside;
   }
}

//====================================================================================================



//Agri-banck====================================================================================================

.agri-banck {
   @include adaptiveValue("padding-top", 192, 60, 0, 1130, 768);
   @include adaptiveValue("padding-bottom", 206, 84, 0, 1130, 768);

   // .agri-banck__container

   &__container {
      display: flex;
      gap: 45px;

      @media (max-width:$mobile){
          flex-wrap: wrap; 
      }
   }

   // .agri-banck__illustration
   &__illustration {
      padding-top: 60px;

      @media (max-width:$mobile){
          padding-top: 0; 
      }

   }

   &__illustration,
   &__text-block {
      flex: 1 1 50%;

      @media (max-width:$mobile){
          flex-basis: 100%; 
      }
   }

   // .agri-banck__img

   &__img {
      width: 100%;
      height: auto;
   }

   // .agri-banck__title

   &__title {
      @media (max-width:$mobile){
          padding-bottom: 20px; 
      }
   }
}

//====================================================================================================


//Formula-success====================================================================================================

.formula-success {

   // .formula-success__bg

   &__bg {
      max-width: $maxWidth;
      margin: 0 auto;
      background: url(../img/tools/formula_success.png) center center no-repeat;
      padding-bottom: 164px;
      overflow: hidden;
   }

   // .formula-success__container

   &__container {

   }

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 55, 28);
      line-height: 97.02%;
      text-align: center;
      margin-bottom: 104px;

      @media (max-width: $mobile){
           margin-bottom: 144px;
      }
   }

   // .formula-success__steps-block

   &__steps-block {
      display: flex;
      gap: 20px;
   }

}

.step {
   display: flex;
   flex-direction: column;
   padding: 13px 11px 20px 15px;
   background: rgba(58, 146, 101, 0.52);
   border-radius: 8px;
   width: 171px;
   flex-shrink: 0;
   position: relative;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -2px;
      background: url(../img/tools/step_border.svg) no-repeat;
   }
   

   &__number {
      font-size: rem(64);
      line-height: 109.02%;
      color: #89FF00;
      text-align: right;
      flex-grow: 1;
   }

   // .step__desc

   &__desc {
      font-size: rem(20);
      line-height: 109.02%;
      max-width: 121px;
   }
}

.step:nth-child(1) {
   animation: bounce 5s linear infinite 0.5s;
}

.step:nth-child(6) {
   animation: bounce 5.3s linear infinite ;
}

.step:nth-child(2) {
   animation: bounce2 4s linear infinite ;
}

.step:nth-child(5) {
   animation: bounce2 5s linear infinite 0.7s;
}


.step:nth-child(3) {
   animation: bounce3 5s linear infinite 1s;
}

.step:nth-child(4) {
   animation: bounce3 4.3s linear infinite;
}

@keyframes bounce {
   0%,100%{
       transform: translate(0px, -20px);
   }
   50% {
       transform: translate(0px, 20px);
   }
}

@keyframes bounce2 {
   0%,100%{
       transform: translate(0px, -30px);
   }
   50% {
       transform: translate(0px, 10px);
   }
}

@keyframes bounce3 {
   0%,100%{
       transform: translate(0px, -40px);
   }
   50% {
       transform: translate(0px, 0px);
   }
}


//====================================================================================================
