//Main-tools====================================================================================================
.main-tools {
   @include adaptiveValue("padding-top", 230, 122, 0, 1130, 768);
   // .main-tools__container

   &__container {
      @media (max-width:$mobile){
          text-align: center; 
      }
   }

   // .main-tools__header

   &__header {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 64, 32);
      line-height: 86.52%;
      max-width: 561px;
      margin-bottom: 22px;

      @media (max-width:$mobile){
         max-width: 220px;
         margin-right: auto;
         margin-left: auto;
      }
   }

   // .main-tools__text

   &__text {
      max-width: 271px;
      margin-bottom: 68px;

      @media (max-width:$mobile){
         margin-bottom: 28px;
         margin-right: auto;
         margin-left: auto;
      }

      p {
         margin-bottom: 20px;
      }
   }

   // .main-tools__actions

   &__actions {
      margin: 0 auto;
   }

   // .main-tools__button

   &__button {
      background: url(../img/common/scroll_to.png) center center no-repeat;
      background-size: contain;
   }
}

//====================================================================================================


//Structure====================================================================================================

.structure {
   min-height: 100vh;
   position: relative;
   padding-top: 160px;
   // .structure__container

   &__container {
      overflow: hidden;
      position: relative;
   }

   // .structure__blind

   &__blind {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40%;
      background: linear-gradient(90deg, #0B0245 30%, rgba(11, 2, 69, 0) 100%);
   }

   &__title {
      font-family: 'Compov2Bold';
      font-weight: 700;
      @include adaptiveValue("font-size", 55, 28);
      line-height: 97.02%;
      text-align: center;
      margin-bottom: 85px;
   }

   // .structure__slider

   &__slider {
      display: flex;
      gap: 60px;
   }

   // .structure__slide

   &__slide {
      flex-shrink: 0;
      background: rgba(58, 146, 101, 0.52);
      border-radius: 8px;
      border: 2px solid #89FF00;
      padding: 37px
   }
}
//====================================================================================================



//Agri-banck====================================================================================================

.agri-banck {
   @include adaptiveValue("padding-top", 192, 60, 0, 1130, 768);
   @include adaptiveValue("padding-bottom", 206, 84, 0, 1130, 768);

   // .agri-banck__container

   &__container {
      display: flex;
      gap: 45px;

      @media (max-width:$mobile){
          flex-wrap: wrap; 
      }
   }

   // .agri-banck__illustration
   &__illustration {
      padding-top: 60px;

      @media (max-width:$mobile){
          padding-top: 0; 
      }

   }

   &__illustration,
   &__text-block {
      flex: 1 1 50%;

      @media (max-width:$mobile){
          flex-basis: 100%; 
      }
   }

   // .agri-banck__img

   &__img {
      width: 100%;
      height: auto;
   }

   // .agri-banck__title

   &__title {
      @media (max-width:$mobile){
          padding-bottom: 20px; 
      }
   }
}

//====================================================================================================

